<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="view2.css" media="screen"/>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script type="text/javascript" src="view2.js"></script>

</head>
<body ng-app="myAppView2">
<div class="container" ng-controller="HelloController" ng-init="init()">
    <div class="first-item">
        <h1>Bundesland</h1>
        <ul>
            <a href="#" class="list-element" ng-repeat="state in states track by $index"
               ng-click="showDetails(state.id)">{{state.name}}</a>
        </ul>
    </div>
    <div class="second-item">
        <h1>Wahlkreis</h1>
        <label>Search: <input ng-model="searchText"></label>
        <ul>
            <a href="#" class="list-element" ng-repeat="district in districts | filter:searchText"
               ng-click="showPartyTable(district.id)">{{district.name}}</a>
        </ul>
    </div>
    <div class="third-item">
        <h1>Ergebnis</h1>
        <table class="result-table">
            <tr>
                <th></th>
                <th>Partei</th>
                <th>Erststimme</th>
                <th>Zweitstimme</th>
            </tr>
            <tr ng-repeat="vote in votes">
                <td ng-style="{'background-color': colors[$index]}"></td>
                <td>{{vote.party}}</td>
                <td>{{calculatePercentage(vote.first_vote, 'first')}}</td>
                <td>{{calculatePercentage(vote.second_vote, 'second')}}</td>
            </tr>
            <tr>
                <td></td>
                <td class="total"><br>Gesamtstimmen</br></td>
                <td class="total">{{totalFirst}}</td>
                <td class="total">{{totalSecond}}</td>
            </tr>

        </table>
    </div>
    <div class="canvas-container">
        <canvas id="pie1" class="chart chart-pie"
                chart-data="canvasFirstVotes" chart-labels="canvasLabels" chart-options="optionsFirstVotes"  chart-colors="colors">
        </canvas>
        <canvas id="pie2" class="chart chart-pie"
                chart-data="canvasSecondVotes" chart-labels="canvasLabels" chart-options="optionsSecondVotes" chart-colors="colors">
        </canvas>
    </div>
    <canvas id="bar" class="chart chart-bar"
            chart-data="barChartData" chart-labels="labels" chart-series="series" chart-options="barchartOptions">
    </canvas>
</div>
</body>
</html>