.container {

}
h1 {
    margin-bottom: 50px;
}

.first-item, .second-item, .third-item {
    float: left;
    margin: 30px;
}
.list-element {
    display: block;
}
.result-table, td {
    width:100%;
    text-align: left;
}
td {
    margin: 5px;
    padding: 15px;
    border: 1px solid #ddd;
}
th {
    padding: 15px;
    border: 1px solid #ddd;
}
.canvas-container {
    margin-top: 20px;
    height: 40%;
    width: 40%;
    display: flex;
}
